
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping package="com.dstevens"/>
    <mapping class="com.dstevens.players.Troupe"/>
    <mapping class="com.dstevens.players.Player"/>
    <mapping class="com.dstevens.characters.PlayerCharacter"/>
    <mapping class="com.dstevens.characters.skills.CharacterSkill"/>
    <mapping class="com.dstevens.characters.backgrounds.CharacterBackground"/>
    <mapping class="com.dstevens.characters.attributes.PhysicalAttribute"/>
    <mapping class="com.dstevens.characters.attributes.MentalAttribute"/>
    <mapping class="com.dstevens.characters.attributes.SocialAttribute"/>
    
    <mapping class="com.dstevens.characters.traits.TraitChangeEvent"/>
    <mapping class="com.dstevens.characters.traits.SetCharacterDefinedTrait"/>
    <mapping class="com.dstevens.characters.traits.XpChangeEvent"/>
    <mapping class="com.dstevens.characters.traits.SetSkillEvent"/>
    <mapping class="com.dstevens.characters.traits.SetBackgroundEvent"/>
    <mapping class="com.dstevens.characters.traits.XpChangeEvent"/>
    
    <mapping class="com.dstevens.persistence.auditing.AuditEvent"/>
  </session-factory>
</hibernate-configuration>